NODE_ENV=development
PORT=3000

DB_HOST=aws-1-ap-northeast-2.pooler.supabase.com
DB_PORT=6543
DB_NAME=postgres
DB_USER=postgres.kwjtbuujhphetpiopfxe
DB_PASSWORD=O9fhZIu0fnI9AJ7C
DB_POOL_MAX=10
DB_POOL_IDLE_TIMEOUT=30000

JWT_SECRET=
JWT_EXPIRES_IN=24h

CORS_ORIGIN=https://jhkwon-todolist-fe.vercel.app


DB_CONNECTION_STRING : postgresql://postgres.kwjtbuujhphetpiopfxe:O9fhZIu0fnI9AJ7C@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres